#root {
  min-width: 1920px;
  margin: 0 auto;

  text-align: center;
}

.navbar {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: #006eb2;
  padding: 0;
  color: #006eb2;

  align-content: center;
  top: 0;
  left: 0;
}

/* Style for the navigation bar links */
.navbar a {
  display: inline-block;
  color: #2f2f2f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #006eb2;
}

.imgCenter {
  width: 25%;
  aspect-ratio: 1.5/1;
}

.block{
  background-color: #737373;
  margin: 10px;
}

.block a {
  display: inline-block;
  background-color: #4d4d4d;
  color: #00fcef;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 10px;
}

.page {
  background-color: #203949;
  text-align: left;
}

.page img {
  text-align: center;
}