#root {
  min-width: 1920px;
  margin: 0 auto;

  text-align: center;
}

.loginDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f8ff; /* Fondo general de la página */
}

.Login {
  background-color: #006eb2; /* Celeste claro */
  padding: 30px;
  border-radius: 15px;
  color: white;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.Login form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Login label {
  margin-bottom: 15px;
  width: 100%;
  color: white;
}

.Login input[type="text"],
.Login input[type="email"],
.Login input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.Login input[type="text"]::placeholder,
.Login input[type="email"]::placeholder,
.Login input[type="password"]::placeholder {
  color: #ffffff;
}

.Login input[type="submit"] {
  background-color: #ffffff;
  color: #87CEEB;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
  margin-top: 20px;
}

.Login input[type="submit"]:hover {
  background-color: #add8e6;
}

.successMsg, .error {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
  color: #ffffff;
}

.successMsg {
  border: 2px solid #00ff00;
}

.error {
  border: 2px solid #ff0000;
}


.searchblock {
  background-color: #006eb2;
  padding: 20px;
  border-radius: 15px;
  color: white;
  width: 300px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.searchblock div {
  margin-bottom: 15px;
}

.searchblock input[type="text"] {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.searchblock input[type="text"]::placeholder {
  color: #ffffff;
}

.searchblock button {
  background-color: #ffffff;
  color: #549cb9;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchblock button:hover {
  background-color: #add8e6;
}

.searchblock div:first-child {
  font-size: 18px;
  font-weight: bold;
}

.searchblock div:nth-child(2),
.searchblock div:nth-child(3) {
  font-size: 14px;
}

.navbar {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: #006eb2;
  padding: 0;
  color: #006eb2;

  align-content: center;
  top: 0;
  left: 0;
}

/* Style for the navigation bar links */
.navbar a {
  display: inline-block;
  color: #2f2f2f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #006eb2;
}

.imgCenter {
  width: 25%;
  aspect-ratio: 1.5/1;
}

.block{

  display: inline-flex;
  justify-content: space-between;
  background-color: #106e8f;
  border-radius: 15px;
  margin: 10px;
  min-width: 45%;
}

.block div {
  margin-left: 5%;
  color: #f9f9f9;
}
.block a {
  display: inline-block;
  background-color: #c9e7ff;
  color: #003346;
  border-radius: 15px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 10px;
  max-height: 30px;
}

.pageBox{
  margin-top: 1%;
  color: #f9f9f9;
  display: inline-grid;
  background: #006eb2;
  font-size: 20px;
  border-radius: 15px;
  width: 10%;
}

.pageBar {
  display: inline-flex;
  justify-content: space-between;


}

.pageBar div {
  min-width: 20%;
  max-width: 50%;
  font-size: 25px;
}
.pageBar button {
  color: #006eb2;
 min-width: 20%;
  max-width: 50%;
  max-height: 60%;
  background: #ffffff;
  font-size: 15px;
  margin: 3%;
}

.calculate  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.calculate span {

}
.calculate button {
  margin-top: 0px;
  max-width: 15%;
  max-height: 70%;
}

.page {
  background-color: #f0f8ff; /* Azul claro */
  padding: 20px;
  border-radius: 15px;
  color: #333;
  width: 400px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.page h1 {
  text-align: center;
  color: #333;
}

.page img {
  display: block;
  margin: 10px auto;
  width: 100px;
}

.page p {
  margin: 10px 0;
}

.page button {
  background-color: #87CEEB; /* Celeste claro */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.page button:hover {
  background-color: #00bfff; /* Celeste más intenso */
}

.page div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.page span {
  font-size: 18px;
  font-weight: bold;
}



.page button {
  margin-top: 20px;
  display: block;
  width: 100%;
}
